<footer class="footer">
  <div class="footer__inner"><!-- new wrapper -->
    <ul class="footer__links">
      <li><%= link_to "Our Story", "/about" %></li>
      <li><%= link_to "Contact Us", "/contact" %></li>
    </ul>
    <div class="footer__copyright">
      &copy; <%= Time.current.year %> Your Company. All rights reserved.
    </div>
  </div>
</footer>
