
body {
  background: #FFFFFF !important;
  color: $body-color;
}

/* ---------- NAVBAR ---------- */
.navbar {
  background: $secondary;
  color: $navbar-dark-color;

  padding: 0.75rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-link {
    color: $navbar-dark-color !important;

    &:hover,
    &:focus {
      color: $navbar-dark-hover-color !important;
    }
  }

  .navbar-brand {
    color: $navbar-dark-color !important;

    &:hover,
    &:focus {
      color: $navbar-dark-hover-color !important;
    }
  }
}

// Logo image – height matches avatar
.navbar-brand img {
  height: 56px;
  width: auto;
}

// align menu items to the right
.navbar-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* ---------- AVATARS ---------- */
.avatar {
  width: 56px !important;
  height: 56px !important;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.avatar-large {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}
.avatar-bordered {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
}
.avatar-square {
  width: 56px;
  height: 56px;
  border-radius: 0;
  object-fit: cover;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
}
